* @the-vaan-group/engineering
*.swcrc @the-vaan-group/devops
.devcontainer/ @the-vaan-group/devops
.dockerignore @the-vaan-group/devops
.editorconfig @the-vaan-group/devops
.env @the-vaan-group/devops
.env.template @the-vaan-group/devops
.eslintignore @the-vaan-group/devops
.eslintrc* @the-vaan-group/devops
.gitignore @the-vaan-group/devops
.npmrc @the-vaan-group/devops
.pnpmfile.cjs @the-vaan-group/devops
.prettierignore @the-vaan-group/devops
.prettierrc* @the-vaan-group/devops
.storybook/ @the-vaan-group/devops
.swcrc @the-vaan-group/devops
.vscode/ @the-vaan-group/devops
/.github/ @the-vaan-group/devops
/README.md @the-vaan-group/devops
/bin/ @the-vaan-group/devops
/devops/ @the-vaan-group/devops
/down @the-vaan-group/devops
/edit @the-vaan-group/devops
/meta-* @the-vaan-group/devops
/meta/ @the-vaan-group/devops
/package.json @the-vaan-group/devops
/web-* @the-vaan-group/devops
/web/bin/ @the-vaan-group/devops
/web/dev.Procfile @the-vaan-group/devops
/web/dev.sh @the-vaan-group/devops
/web/devops/ @the-vaan-group/devops
/web/graphql* @the-vaan-group/devops
/web/jest* @the-vaan-group/devops
/web/package.json @the-vaan-group/engineering-leads
/web/public/ @the-vaan-group/engineering
/web/sentry* @the-vaan-group/devops
/web/src/ @the-vaan-group/engineering
/web/src/core/ @the-vaan-group/engineering-leads
/web/src/pages/ @the-vaan-group/devops
/web/src/views/ @the-vaan-group/devops
/web/storybook.Procfile @the-vaan-group/devops
CODEOWNERS @the-vaan-group/devops
Dockerfile @the-vaan-group/devops
bb.edn @the-vaan-group/devops
docker-compose.yml @the-vaan-group/devops
docker-entrypoint.sh @the-vaan-group/devops
eslint-strict.config.* @the-vaan-group/devops
eslint.config.* @the-vaan-group/devops
next.config.js @the-vaan-group/devops
next.config.mjs @the-vaan-group/devops
next.redirects.mjs @the-vaan-group/engineering-leads
package-lock.json @the-vaan-group/devops
tsconfig.json @the-vaan-group/devops
webpack.config.js @the-vaan-group/devops
