//Colors

$white: #ffffff;
$black: #212121;

$primary: #226216;
$primary-1: #cbd7c9;
$primary-2: #e1e2e1;

$black-1: #7f7f7f;
$black-2: #bfbfbf;
$black-3: #e5e5e5;
$black-4: #f2f2f2;

$white-1: #b2b2b2;
$white-2: #808080;
$white-3: #595959;
$white-4: #404040;

$grey-1: #f9f9f9; // V
$grey-2: #d8d5d6;
$grey-3: #45524c;

$error: #f03738;
