@use 'colors' as colors;
@use 'styleguide' as styleguide;
@use 'mq' as mq;
@use 'mixins' as mixins;

.Steps {
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  background-color: styleguide.color-get('white');
  padding: styleguide.spacing-get('large') styleguide.spacing-get('medium');
  gap: styleguide.spacing-get('large');
  border-radius: 8px;

  @include styleguide.mq-min('desktop-min') {
    padding: styleguide.spacing-get('xxxlarge') styleguide.spacing-get('xlarge') styleguide.spacing-get('xlarge')styleguide.spacing-get('xlarge');
    gap: styleguide.spacing-get('xlarge');
  }

  &__wrapper {
    padding: styleguide.spacing-get('large') styleguide.spacing-get('regular') styleguide.spacing-get('regular');

    @include styleguide.mq-min('desktop-min') {
      padding: styleguide.spacing-get('xlarge') styleguide.spacing-get('xxlarge');
    }
  }

  &__content {
    max-width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-flow: column-reverse;
    gap: styleguide.spacing-get('medium');

    @include styleguide.mq-min('desktop-min') {
      gap: styleguide.spacing-get('xsmall');
      flex-flow: row;
      gap: 0;
    }

    &__left {
      max-width: 100%;
      flex-basis: 0;
      flex-grow: 1;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      gap: styleguide.spacing-get('large');

      @include styleguide.mq-min('desktop-min') {
        max-width: calc(50% - styleguide.spacing-get('xlarge'));
        padding-right: styleguide.spacing-get('xlarge');
      }

      &__container {
        max-width: styleguide.rem-calc(430);

        @include styleguide.mq-min('desktop-min') {
          padding-top: styleguide.spacing-get('medium');
        }
      }

      :global(.swiper-wrapper) {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }


      &__title {
        font-weight: 500;
        color: #FFFFFFCC;
        font-size: styleguide.font-size('regular');
        line-height: 1.2;
        text-transform: uppercase;
        margin: 0 0 styleguide.spacing-get('xxsmall') 0;

        @include styleguide.mq-min('desktop-min') {
          margin: 0 0 styleguide.spacing-get('regular') 0;
          font-size: styleguide.font-size('medium');
        }
      }

      &__step {
        &__title {
          @include mixins.headingFont();
          font-size: styleguide.font-size('xlarge');
          margin: 0 0 styleguide.spacing-get('xsmall') 0;
          color: styleguide.color-get('white');
          font-weight: 400;
          line-height: 1.1;

          @include styleguide.mq-min('desktop-min') {
            margin: 0 0 styleguide.spacing-get('medium') 0;
            font-size: styleguide.rem-calc(75)large;
          }
        }

        &__description {
          font-size: styleguide.font-size('regular');
          line-height: 1.2;
          margin: 0;
          color: styleguide.color-get('white');
          font-weight: 300;

          @include styleguide.mq-min('desktop-min') {
            font-size: styleguide.font-size('medium');
            line-height: 1.4;
          }
        }
      }
    }

    &__right {
      max-width: 100%;
      display: flex;
      flex-basis: 0;
      flex-grow: 1;

      @include styleguide.mq-min('desktop-min') {
        max-width: calc(50% + styleguide.spacing-get('xlarge'));
      }

      &__slide {
        position: relative;
        aspect-ratio: 1;
        border-radius: 8px;
        overflow: hidden;

        @include styleguide.mq-min('desktop-min') {
          aspect-ratio: 1.2;
        }

        &__image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    gap: styleguide.spacing-get('xsmall');

    &__button {
      width: 100%;
      cursor: pointer;
      font-size: styleguide.font-size('regular');
      font-weight: 500;
      color: styleguide.color-get('white');
      background-color: #FFFFFF33;
      transition: all .3s ease-in-out;
      padding: styleguide.spacing-get('regular');
      border: none;
      border-radius: 8px;
      text-transform: uppercase;


      @include styleguide.mq-min('desktop-min') {
        font-size: styleguide.font-size('medium');
        padding: styleguide.spacing-get('medium')
      }

      &__active,
      &:hover {
        background-color: styleguide.color-get('white');
        color: styleguide.color-get('black');
      }
    }
  }

  &__background {
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;

    img {
      opacity: .6;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(0deg, var(--color-green, #3D7E68), var(--color-green, #3D7E68)),
        linear-gradient(180deg, rgba(61, 126, 104, 0) 0%, #3D7E68 100%);
      mix-blend-mode: darken;
      opacity: 0.85;

    }
  }

  &__snow {
    &__image {
      position: relative;
      width: 100%;

      &__container {
        border-radius: 32px;
        overflow: hidden;
        z-index: 4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-50%) rotate(-0.3deg);
      }
    }
  }
}

.VideoPlayer {
  &__controls {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: styleguide.spacing-get('xxsmall') 18px;
    border: none;
    border-radius: 4px;
    background: #FFFFFFCC;
    position: absolute;
    top: styleguide.spacing-get('regular');
    right: styleguide.spacing-get('regular');
    transition: background 0.3s ease;

    @include styleguide.mq-min('desktop-min') {
      top: styleguide.spacing-get('regular');
      right: styleguide.spacing-get('regular');
    }

    &:hover {
      background: styleguide.color-get('white');
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    &__video {
      &__container {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(252.85deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.8) 100%);
      z-index: 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__desktop {
      display: none;
      visibility: hidden;
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      @include styleguide.mq-min('desktop-min') {
        display: block;
        visibility: visible;
      }
    }

    &__mobile {
      display: block;
      visibility: visible;
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      @include styleguide.mq-min('desktop-min') {
        display: none;
        visibility: hidden;
      }
    }
  }
}
