@use 'colors' as colors;
@use 'styleguide' as styleguide;
@use 'mq' as mq;

.LogoCarousel {
  overflow: hidden;
  background-color: styleguide.color-get('white');
  padding: styleguide.spacing-get('large') 0 0 0;

  @include styleguide.mq-min('desktop-min') {
    padding: styleguide.spacing-get('xlarge') 0 0 0;
    margin-bottom: styleguide.spacing-get('xxlarge');
  }

  &__content {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: styleguide.spacing-get('xlarge');
    padding-bottom: styleguide.spacing-get('xxlarge');

    @include styleguide.mq-min('desktop-min') {
      gap: styleguide.spacing-get('large');
    }

    h2 {
      margin: 0;
      font-weight: 500;
      color: styleguide.color-get('brown');
      text-transform: uppercase;
      font-size: styleguide.font-size('medium');
      text-align: center;
    }
  }


  &__logos {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: styleguide.spacing-get('large');
    min-width: 100%;

    @include styleguide.mq-min('desktop-min') {
      gap: styleguide.spacing-get('xxlarge');
    }


    &__container {
      max-width: 100vw;
      display: flex;
      overflow: hidden;
      flex-flow: column;
      user-select: none;
      gap: styleguide.spacing-get('large');
    }

    &__wrapper {
      display: flex;

      &--reverse {
        display: flex;

        @include styleguide.mq-min('desktop-min') {
          display: none;
        }
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      margin-left: styleguide.spacing-get('large');


      @include styleguide.mq-min('desktop-min') {
        margin-left: styleguide.spacing-get('xxlarge');
      }
    }
  }
}
