@use 'colors' as colors;
@use 'styleguide' as styleguide;
@use 'mq' as mq;
@use 'mixins' as mixins;

.FAQ {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  gap: styleguide.spacing-get('large');
  justify-content: space-between;
  padding: styleguide.spacing-get('large') styleguide.spacing-get('regular');

  @include styleguide.mq-min('desktop-min') {
    flex-flow: row;
    gap: styleguide.spacing-get('xsmall');
    padding: styleguide.spacing-get('xlarge') styleguide.spacing-get('xxlarge');
  }

  &__title {
    @include mixins.headingFont();
    margin: 0;
    font-weight: 400;
    font-size: styleguide.font-size('xxlarge');
  }

  &__content {
    max-width: styleguide.rem-calc(760);
    display: flex;
    flex-flow: column;
    gap: styleguide.spacing-get('xsmall');

    &__item {
      border-radius: 8px;
      background-color: #0000001A;

      @include styleguide.mq-min('desktop-min') {
        background-color: styleguide.color-get('snow');
      }
    }
  }

  &__answer {
    margin: 0;
    padding: styleguide.spacing-get('regular');
    padding-top: 0;

    @include styleguide.mq-min('desktop-min') {
      padding: styleguide.spacing-get('medium');
      padding-top: 0;
    }

    &__wrapper {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
    }
  }

  &__question {
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 100%;
    text-transform: uppercase;
    font-size: styleguide.font-size('regular');
    font-weight: 500;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: styleguide.spacing-get('regular') styleguide.spacing-get('regular') styleguide.spacing-get('xsmall');

    @include styleguide.mq-min('desktop-min') {
      padding: styleguide.spacing-get('medium');
      font-size: styleguide.font-size('medium');
    }

    @include styleguide.mq-max('desktop-min') {
      svg {
        width: styleguide.rem-calc(16);
        height: styleguide.rem-calc(16);
      }
    }

    &[aria-expanded='true']+.FAQ__answer__wrapper {
      opacity: 1;
      max-height: 9em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }
}
