// Colors
// ===============================================

// Please use oklch color notation. To transform hex code into oklch use link: https://oklch.com/

@use 'sass:color';
@use '../stdlib/map' as map;

$_colors: (
  'brown': oklch(0.5453 0.2034 28.33),
  'white': oklch(100% 0 0),
  'black': oklch(0.3829 0 0),
  'green': oklch(0.5435 0.0759 169),
  'snow': oklch(0.9559 0.0109 274.89)
);

@function get($color) {
  // Next.js CSS minifier (cssnano) strips percentage signs from the oklch color notation
  // so we convert colors to rgb notation until the issue is resolved upstream
  @return color.to-space(
    $color: color.to-gamut(
        $color: map.get-strict($_colors, $color),
        $space: rgb,
        $method: local-minde
      ),
    $space: rgb
  );
}
