// Fonts
// ===============================================

@use 'sass:list';
@use '../stdlib/map' as map;
@use './unit' as u;

// Font Size

$-font-sizes: (
  'xxxlarge': u.rem-calc(80),
  'xxlarge': u.rem-calc(44),
  'xlarge': u.rem-calc(32),
  'large': u.rem-calc(24),
  'medium': u.rem-calc(20),
  'regular': u.rem-calc(16),
  'small': u.rem-calc(14),
  'xsmall': u.rem-calc(12),
  'xxsmall': u.rem-calc(10),
  'xxxsmall': u.rem-calc(9)
);

@function size($font-size) {
  @return map.get-strict($-font-sizes, $font-size);
}

// Font Family

$-system-font-stack: (system-ui, sans-serif, 'Apple Color Emoji');

$-font-families: (
  'regular': var(--font-dm-sans),
  'heading': var(--font-playfair-display)
);

@function family($name) {
  @return list.join(
    map.get-strict($-font-families, $name),
    $-system-font-stack
  );
}

// Font Weight

$-font-weights: (
  'light': 300,
  'regular': 400,
  'bold': 700
);

@function weight($weight) {
  @return map.get-strict($-font-weights, $weight);
}

