enable-pre-post-scripts=true
public-hoist-pattern[]=@babel/runtime
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=css-loader
public-hoist-pattern[]=postcss-loader
public-hoist-pattern[]=resolve-url-loader
public-hoist-pattern[]=sass-loader
public-hoist-pattern[]=style-loader
save-exact=true
strict-peer-dependencies=false
update-notifier=false
virtual-store-dir=${TMP_DIR}/node_modules/.pnpm
